
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('MAGIXX .jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    position: relative;
    width: 600px;
    height: 400px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
}

.wrapper p{
    color: rgb(4, 156, 105);
    font-size: 1.55em;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}    
    